.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 15, 35, 0.85);
    backdrop-filter: blur(12px);
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    display: flex;

    align-items: center;
}

.navbar-icon {
    height: 61px;
    width: 61px;
    margin-right: 25px;
    margin-left: -5px ;
}

.navbar-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #00f9ff;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.navbar-links a:hover {
    background: rgba(0, 255, 255, 0.1);
}

.logout-btn {
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout-btn:hover {
    background-color: #e60000;
}